<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onSelectExercise(f)" #f="ngForm" *ngIf="!(spinner$ | async)">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Start your workout!</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field>
          <mat-label>Choose an Exercise</mat-label>
          <mat-select ngModel name="exerciseId" required>
            <mat-option *ngFor="let exercise of (exercises$ | async)" [value]="exercise.id">
              {{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="accent" type="submit" [disabled]="f.invalid">Select</button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </form>
  <mat-spinner *ngIf="spinner$ | async" fxLayoutAlign="center center"></mat-spinner>
</section>